services: # List of services (each service = one container definition)
  dev: # We've named this 'dev' because it's strictly for your local development server
    # image = Define the Docker Image to use for the container
    # We use the prebuilt Node image (no Dockerfile/build step here)
    image: node:24-alpine # Use the latest Active LTS (Node 24) on the tiny Alpine Linux OS

    # volumes = Filesystem mounts applied when the container is CREATED/STARTED
    volumes:
      - .:/app # Bind mount: expose your host project folder into /app (live, real-time view of host files)
      - /app/node_modules # Anonymous Docker-managed volume mounted at /app/node_modules (overrides the bind mount at that subpath)

    # environment = Environment variables set inside the container process environment
    environment:
      - NODE_ENV=development # Explicitly tells Node and libraries that we are in development mode

    # ports = Maps poIrts from your actual computer to ports inside the container
    ports:
      - '5173:5173' # [Host Port 5173] : [Container Port 5173]

    # working_dir = Default directory for running the command (like `cd /app`)
    working_dir: /app

    # command = The process to run in the container (this is the only "procedural" part; everything else is config)
    # `sh -c` Starts a shell to understand the "&&" logic
    # `npm install` Install node dependencies and store it inside /app/node_modules Docker-managed volume
    # `npm run dev -- --host 0.0.0.0 --port 5173` Starts the SvelteKit dev server and makes it visible outside the container
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
