@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@import 'tailwindcss';

@custom-variant hover (&:hover);

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-jua: 'Jua', sans-serif;

  --animate-collaboration-brand: infinite-scroll 12s linear infinite;
  --animate-discord-testimonial: infinite-scroll 60s linear infinite;

  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

html,
body {
  overflow-x: hidden;
}

html {
  /* scrollbar-gutter: stable; */
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  /* Prevent navbar from overlapping content */
  /* margin-top: 4rem; */
  @apply font-inter text-slate-700;
}

.nav-space {
  padding-top: 5.5rem;
  margin-top: -5.5rem;
}

.markdown-body {
  text-align: justify;
  color: var(--color-slate-700) !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: var(--color-orange-600);
  /* @apply text-orange-600; */
}

.markdown-body li {
  list-style: disc;
}

.markdown-body a {
  color: var(--color-orange-600) !important;
}

.markdown-body a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

input[type='search']::-webkit-search-cancel-button {
  /* Hide the default button and remove its space */
  -webkit-appearance: none;
  appearance: none;

  /* Apply custom button with orange-600 color */
  height: 1.2rem;
  width: 1.2rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="oklch(64.6% 0.222 41.116)"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
  background-size: contain;
  cursor: pointer;
  margin-right: -0.3rem;
}
